<app-filter-bar></app-filter-bar>

<div class="header">
    <h2>Shift List</h2>
    <div class="search-container">
  <input type="text" placeholder="Search..." class="search-input">
  <div class="search-icon"></div>
</div>
    <button class="add-equipment-btn" (click)="showForm()">Add Shift</button>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>Shift</th>
        <th>Start</th>
        <th>End</th>
       <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of shiftList">
       
        <td>{{ s.shift }}</td>
        <td>{{ s.start }}</td>
        <td>{{ s.end }}</td>
         <td class="actions">
          <button (click)="edit(s)">✏️</button>&nbsp;&nbsp;
          <button (click)="delete(s.id)">🗑️</button>
        </td>
      </tr>
    </tbody>
  </table>
  <mat-paginator class="paginator-align" [pageSizeOptions]="[8, 10]" showFirstLastButtons></mat-paginator>

  
  <div class="form-modal" *ngIf="show">
    <div class="form-card">
      <div class="form-header">
        <h3>{{ editMode ? 'Edit Shift' : 'Add Shift' }}</h3>
        <button class="close-btn" (click)="close()">&#x2715;</button>
      </div>
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>Shift</label><br>
        <select formControlName="shift"  >
          <option value="">Select Shift</option>
          <option value="A">A</option>
          <option value="B">B</option>
          <option value="C">C</option>
        </select>
        <label>Start</label>
<input type="time" step="1" formControlName="start" />

<label>End</label>
<input type="time" step="1" formControlName="end" />
        <button class="download-btn" type="submit">{{ editMode ? 'Update' : 'Add' }}</button>
      </form>
    </div>
  </div>
  