@use "../variables" as *;


.upgrade-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
}

.object-cover {
  object-fit: cover;
}

.profile-dd {
  margin-top: -5px;
  margin-left: -5px;
}