<div class="menu-bar" style="padding-top: 4px; padding-bottom: 16px">
  <div class="menu-left">
    <div class="machine-status-container">
      <span
        class="machine_title"
        style="
          display: flex;
          gap: 5px;

          padding: 8px;
          color: #222;

          flex-wrap: wrap;
          padding-top: 1%;
        "
        >Machine Status:</span
      >
      <div class="status-card running">
        <div class="status-label">
          <div *ngIf="liveStatus > 0" class="status-mini running-mini-running">
            Running
          </div>
          <div class="status-mini running-mini-stop" *ngIf="liveStatus === 0">
            Stop
          </div>
        </div>
      </div>

      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="menu-right">
        <div
          class="toggle-container"
          [ngStyle]="{ visibility: showToggle ? 'visible' : 'hidden' }"
        >
          <span style="position: relative; top: 6px; bottom: 0px"
            >Day View &nbsp;
          </span>

          <label class="switch">
            <input
              type="checkbox"
              [checked]="isDayView"
              (change)="onToggle($event)"
            />
            <span class="slider round"></span>
          </label>
        </div>
        <div class="title-bar">
          <div class="datetime-display">
            Last Updated at :{{
              machineStateFetchTime | date: "dd-MMM-yyyy HH:mm:ss"
            }}
          </div>
          &nbsp;&nbsp;
          <button
            mat-icon-button
            class="refresh-btn-circle"
            (click)="getMachineStatus()"
            [class.spinning]="isSpinning"
            matTooltip="Refresh"
          >
            <mat-icon>refresh</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
