<app-filter-bar></app-filter-bar>
<div class="header">
    
    <h2>Equipment List</h2>
    <div class="search-container">
  <input type="text" placeholder="Search Equipment..."  
      [(ngModel)]="searchText"
      (input)="onSearch()"
      class="search-input">
  <div class="search-icon"></div>
</div>
    <button class="add-equipment-btn" (click)="showForm()">Add Equipment</button>
  </div>
 <table>
  <thead>
    <tr>
      
      <th>Line</th>
      <th>Equipment Name</th>
      <th>Equipment Group</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let eq of equipmentList">
      
      <td>{{ eq.line }}</td>
      <td>{{ eq.equipmentName }}</td>
      <td>{{ eq.equipmentGroup }}</td>
      <td class="actions">
        <button (click)="edit(eq)">✏️</button>&nbsp;&nbsp;
        <button (click)="delete(eq.id)">🗑️</button>
      </td>
    </tr>
  </tbody>
  
</table>

<mat-paginator
  [length]="paginationDtls.totalElements"
  [pageSize]="paginationDtls.pageSize"
  [pageIndex]="paginationDtls.pageNumber - 1"
  [pageSizeOptions]="[10]"
  (page)="onPageChange($event)">
</mat-paginator>


  
  <!-- Popup form -->
 <!-- Equipment Form Modal -->
<div class="form-modal" *ngIf="show">
    <div class="form-card">
      <div class="form-header">
        <h3>{{ editMode ? 'Edit Equipment' : 'Add Equipment' }}</h3>
        <button class="close-btn" (click)="close()">&#x2715;</button>
      </div>
  
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <label>Line</label>
        <input type="text" placeholder="Line" formControlName="line" />
  
        <label>Equipment Name</label>
        <input type="text" placeholder="Equipment Name" formControlName="equipmentName" />
  
        <label>Equipment Group</label>
        <input type="text" placeholder="Equipment Group" formControlName="equipmentGroup" />
  
        <button class="download-btn" type="submit">
          {{ editMode ? 'Update' : 'Add' }}
        </button>
      </form>
    </div>
  </div>
  